#heading{

    background: #3A75AC;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    font-family: 'Source Sans Pro' , sans-serif;
    font-size: 40px;
    transition-duration: 0.5s;
}

html{

    padding: 0;
    margin: 0;

}

body{

    padding: 0;
    margin: 0;
    background: rgb(20, 20, 20);

}

button{

    outline: none;
    transition-duration: 0.3s;
}

button:hover{

    background: #3A75AC;
    color:white;

}
.headtext{

    font-size: 30px;
}

#choice{

    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;

}

#navbar{

    background: white;
    /* display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 30% 10% 8% 5% 7% 4% 4% auto; */
    font-family: 'Source Sans Pro' , sans-serif;
    height: 40px;
    text-align: center;

}

#newc{

    text-transform: uppercase;
    color: #3A75AC;
    background: white;
    border: 0px;
    font-size: 15px;
    font-weight: 700;
    height: 100%;
}

#newc:hover{

    color: white;
    background : #3A75AC; 
}
#result{

    display: inline-block;
    color: black;
   align-self: center;
   transition-duration: 0.5s;
    width: 20%;
}

.modes{

    border: 0px;
    color: #3A75AC;
    background: white;
    font-size: 15px;
    font-weight: 700;
    height: 100%;

}   

.boxc{

    border-radius: 10px;
    border-color: transparent;
    margin: 5px;
    transition-duration: 0.5s;
  
}

 #colours{

    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
    margin-top: 20px;
} 

.clicked{

    border: transparent;
    background: #3A75AC;
    color: white;

}

.color-clicked{

    background-color:black;

}